html {
  background: #fdf;
}

body {
  margin: 2em;
}

.error {
  background: #fcc;
}

#links {
  display: flex;
  font: bold 14px monospace;
  color: #a00;
  padding-bottom: 1em;
}

#links a {
  flex: initial;
  margin-left: 1em;
}
#links a:link {
  text-decoration: none;
}

#current-time {
  flex: auto;
  text-align: right;
}

#main {
  display: flex;
  flex-direction: row;
}

.bird {
  display: flex;
  flex: initial;
  flex-direction: column;
}

.bird img {
  width: 10em;
  margin-top: 1em;
}

#graphs {
  display: flex;
  flex: auto;
  flex-direction: column;
}

.graph {
  display: flex;
  flex-direction: row;
  padding: 3px 0px 3px 0px;
  height: 24px;
  cursor: pointer;
}

.graph:hover {
  background: #fef;
}

.graph .value {
  width: 7em;
  padding-left: 5px;
  color: #966;
  font: 10px monospace;
  line-height: 24px;
}

.graph .name {
  font: 14px monospace;
  line-height: 24px;
  padding-left: 1em;
  color: #a66;
}

.graph .details {
  font: 10px monospace;
  margin-left: 2em;
}

#graph-template {
  display: none;
}
